recursive-include orangecontrib *.pyx
recursive-include orangecontrib *.py

recursive-include orangecontrib/dls/oasys/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/dls/wofry/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/dls/xoppy/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/dls/syned/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/dls/shadow/widgets *.png *.svg *.ico *.jpg *.bmp *.txt
recursive-include orangecontrib/dls/srw/widgets *.png *.svg *.ico *.jpg *.bmp

include README.md
include LICENSE
